*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.Main-Body {
   min-height:100%;
    width: 100%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
  }
  .main_wrap{
    width:95%;
    height: 90%;
    display: flex;
   
  }
  .Agri-main{
      width:80%;
      display: flex;
      justify-content: space-between;
      min-height:30vh;

  }
  .piccont{
    width:100%;
    
    border-radius: 10px;
  }
  .Textxx{
    width: 85%;
   
    min-height: 20vh;
  }
  .big_text{
    color:green
  }

  .peesu{
    width:100%;
    border-radius: 10px;
    margin-top: 10px;
  }
  @media screen and (max-width: 700px){
    .main_wrap{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .Textxx{
        text-align: center;
    }
    .Agri-Main{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    .rele{ 
      justify-content: center;
      align-items: center;


    }
}
  

