*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}
.Market_main{
    width:100%;
    min-height: 90vh;
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Market_wrap{
    width: 90%;
    min-height:60vh;
    /* background: blue; */
    display:flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.Market_top{
    display: flex;
    gap:12px;
    margin-top: 12px;
    flex-wrap: wrap;
}
.markt_cont{
    width:85%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}