* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Success-page-main1{
     width: 100%;
     height: 100vh;
     /* background: red; */
     display:flex;
     justify-content: center;
     align-items: center;
}

.Success-page-main2 {
    width: 35%;
    height: 45vh;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.Success-design-page1 {
    width: 50%;
    height: 120px;
    /* background-color: sienna; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark {
    width: 40%;
    height: 80%;
}

.Success-design-page2 {
    width: 80%;
    height: 12vh;
    /* background-color: palegreen; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.yea {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.pay {
    font-size: 2.1rem;
    color: #32c671;
}

.done {
    width: 25%;
    height: 40px;
    border-radius: 20px;
    border-color: #32c671;
    background-color: white;
    color: #32c671 ;
    font-size: 20px;
    font-weight: bold;
}