*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;

}

.Header_Container{
    width:100%;
    height: 70px;
    background: snow;
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Main{
    width: 95%;
    height:90%;
    display: flex;
    justify-content: space-between;
    
}
.Head_Content{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    

}
.NavTab{
    width: 37%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.images{
    width: 150px;
    height: 50px;
}
.ape{
    width:148px;
    height:49px;
}
.new{
    width:150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.butt{
    width:70px;
    height:30px;
    background: none;
    border: 1px solid #0C764C;
    border-radius: 6px;
    font-size: 15px;
}
.butt:hover {
    background-color: hsl(156, 54%, 81%);
    color: white;
    cursor: pointer;
}
.butt2:hover{
    background-color: #091e16;
    color: white;
    cursor: pointer; 
}
.butt2{
    width:70px;
    height:30px;
    background-color: #0C764C;
    border-radius: 6px;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
}
.linkz{
    text-decoration: none;
    color: #0C764C;
    position: relative;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.linkz:hover{
    transform: scale(1.1);
    opacity: .9;
    background-color:#0C764C;
    color: white;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 24)0px 3px 8px;
}
.Burger {
    display: none;
  }
@media screen and (max-width: 760px) {
    /* .NavTab{
      display: none;
    } */
    .new{
        display:none;
    }
    .Burger {
      display: flex;
    }
}
@media screen and (max-width: 700px){
    .NavTab{
        display: none;
    }
}