*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.Dashboard_origin{
    width: 100%;
   min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.dashboard_head{
    width: 100%;
    height: 40px;
    background: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 15px;
    display:none;
}
.main_dash{
    width:95%;
   height: 90vh;
    display: flex;
    justify-content: space-between;
    /* background: paleturquoise; */
    margin-top: 10px;
    /* flex-direction: column; */
}
/* h4{
    color:white;
    cursor: pointer;
} */
.dash_sidebar{
    width:20%;
    height: 95%;
    background:#24835d;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.dash_maincont{
    width:78%;
    min-height:80%; 
    /* background: tomato; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dash_mainCont_inside{
    width:85%;
    height: fit-content;
    /* background: blue; */
    display: flex;
    /* margin-top: 20px; */
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    justify-content: space-between;
    /* gap:30px; */
}
.faupload{              
    width:65%;
    display: flex;
    justify-content: center;
    /* background:powderblue; */
}
.dashupload{
    font-size: 50px;
    cursor: pointer;
    color: aqua;
}
.dash_icon{
    display: none;
}
.Dashsidemenu_main{
    position:absolute;
    cursor: pointer;
    left: 2px;;
    top: 18%;
    background:#0C764C;
    color:white;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width:250px;
    height:300px;
    z-index:100;
    display:none;
    box-shadow:0 0 1px rgba(0, 0, 0, 24)0px 3px 8px ;
}
.Dashsidemenu_wrap{
    width:200px;
    height:250px;
    /* background: greenyellow; */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.dish_dish_name{
    width:80%;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dasth3{
    display: flex;
    cursor: pointer;
    padding: 10px;
    color:whitesmoke;
    /* color:black; */
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    gap: 10px;
    align-items: center;
    width:90%;
    justify-content: space-around;
}
.dasth3:hover{
    transform: scale(1.1);
    opacity: .9;
    /* background: rgb(134, 132, 132); */
    background-color:#468f72;
    /* color:#0C764C; */
}
.Dashfooter_main{
    display: none;
}
.dash_elements{
    display:flex;
    justify-content: space-between;
    width: 80%;     
    margin-bottom: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.ddt{
    width:110px;
    height:80px;
    /* background: whitesmoke; */
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #24835d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.timeshow{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 100px;
    border-radius:100px;
    background: palevioletred;
}
.today_order{
    /* background: yellowgreen; */
    width:30%;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}
.order_name{
    margin-left: 10px;
}
.order_content{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}
.order_condo{
    margin-right:10px;
}
.todays_order {
    width: 90%;
    height: 70%;
    background-color: chartreuse;
}
.todays_order2 {
    width: 100%;
    height: 35px;
    background-color: tomato;
    display:flex;
    justify-content: space-between;
    align-items: center ;
}
.todays_order2update {
    width: 100%;
    height: 80px;
    background-color: slateblue;
    display:flex;
    justify-content: space-between;
    align-items: center ;
}
.update1 {
    width: 30%;
    height: 80px;
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
.update2 {
    width: 30%;
    height: 80px;
    background-color: sienna;
}
.update3 {
    width: 30%;
    height: 80px;
    background-color:salmon ;
}
.update4 {
    width: 30%;
    height: 80px;
    background-color: royalblue;
}
.update1name {
    width: 100%;
    height: 35px;
    background-color: palegreen;
}
.update2name {
    width: 100%;
    height: 35px;
    background-color: palegreen;
}


@media screen and (max-width: 768px) {
    .dash_sidebar{
        display:none;
    }
    .dash_maincont{
        width:100%;
    }
    .dash_icon{
        display: flex;
    }
    .wc{
        display: none;
    }
    .Dashsidemenu_main{
        display:flex
    }
    .dashboard_head{
        display: flex;
    }
    .Dashfooter_mainp{
        display:flex;
    }
    .dash_mainCont_inside{
        display:flex;
        flex-direction: column;
    }
    .today_order{
      width: 80%;
    }

}