*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.Dashboard_origin{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.dashboard_head{
    width: 100%;
    height: 70px;
    background: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 15px;
}
.main_dash{
    width:95%;
    height: 90vh;
    display: flex;
    background: paleturquoise;
}
.dash_sidebar{
    width:20%;
    height: 100%    ;
    background: peru;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}
.dash_maincont{
    width:80%;
    height:100%; 
    background: tomato;
}