*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
.dashboard_main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Main_main{
    width:95%;
    height: 100%;
    display: flex;
    background:burlywood;
}
.dashmenu{
    width:25%;
    height: 100%;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dashcontent{
    width:75%;
    height: 100%;
    background: peru;
}
.dashroll{
    /* background: orange; */
    margin-top: 60px;
}