*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.Footer_main{
    width:100%;
    min-height: 50vh;
    margin-top: 25px;
    padding-top: 25px;
    background:#24835d;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .AG{
    background:white;
    width: 180px;
    height: 50px;
    margin-bottom: 15px;
    /* padding-bottom: 25px; */
  }
  .footer_wrap{
    width: 90%;
    display: flex;
    height: 90%;
    /* background: peru; */
    padding-top: 20px;
  }
  .left_footer{
    width: 20%;
    /* background: yellow; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color:aliceblue;
  }
  .left_footer_icon{
    /* background: blue; */
    height: fit-content;
    line-height: 25px;
  }
  .center_footer{
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    /* background: orange; */
    /* line-height: 12px; */
    margin-bottom: 15px;
  }
  .right_footer{
    width:25% ;
    color:aliceblue;
    font-size:15px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* background: blue; */
  }

  .icon{
    font-size: 25px;
    color:aliceblue;
  }
  .icons{
    font-size: 25px;
    color:aliceblue;
    /* margin-bottom: 8px; */
  }
  .kora{
    width: 170px;
    height: 70px;
    background: white;
  }
  .curve{
    width: 170px;
    height: 70px;
    margin-bottom: 10px;
  }
  .footer_bottom{
    width:100%;
    min-height: 50px;
    display: flex;
    background:white;
    gap:10px;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
  }
  .futtex{
    color:aliceblue
  }
  @media screen and (max-width: 600px){
    .footer_wrap{
        display: flex;
        flex-direction: column;
    }
    .right_footer{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 12px;
        
    }
    .left_footer{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    .left_footer_icon{
        display: flex;
        gap: 12px;
        justify-content: space-around;
        /* flex-wrap: wrap; */
    }
    .center_footer{
        width: 100%;
        display: flex;
        justify-content: center;
        /* padding-top: 18px; */
        /* padding-bottom: 18px; */
        text-align: center;
        flex-direction: column;
        /* background: grey; */
    }
    .icons{
      margin-bottom:0px;
    }
  }